<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>shoper0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,306},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,308},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,306},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,154},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,154},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,154},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,154},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,154},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,156},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,308},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,308},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,154},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,2},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,2},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,2},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,2},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,306},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,306},{150,162}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,17},{150,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0019.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,2},{152,162}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,17},{152,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,822},{152,162}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,17},{152,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0021.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,658},{152,162}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,17},{152,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,494},{152,162}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,17},{152,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0023.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,330},{152,162}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,17},{152,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0024.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,166},{152,162}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,17},{152,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0025.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{152,162}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,17},{152,162}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0026.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,460},{152,158}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,21},{152,158}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0027.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,460},{152,158}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,21},{152,158}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0028.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,458},{152,158}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,21},{152,158}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0029.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,458},{152,158}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,21},{152,158}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0030.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,458},{152,158}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,21},{152,158}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0031.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,458},{152,158}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,21},{152,158}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0032.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,458},{152,158}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,21},{152,158}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0033.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,458},{152,158}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,21},{152,158}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0034.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,458},{152,158}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,21},{152,158}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0035.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,458},{152,158}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,21},{152,158}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0036.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,458},{152,158}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,21},{152,158}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0037.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,306},{152,158}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,21},{152,158}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>shoper0038.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,306},{152,158}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,21},{152,158}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shoper.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:da2fed6d5b27b192f0f503d587bb843d$</string>
		<key>textureFileName</key>
		<string>shoper.png</string>
	</dict>
</dict>
</plist>
