<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>shopper_new0001.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,0},{209,209}}</string>
            <key>offset</key>
            <string>{4,-4}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{9,9},{200,200}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0002.png</key>
        <dict>
            <key>frame</key>
            <string>{{209,0},{209,209}}</string>
            <key>offset</key>
            <string>{0,-4}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,9},{209,200}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0003.png</key>
        <dict>
            <key>frame</key>
            <string>{{418,0},{209,209}}</string>
            <key>offset</key>
            <string>{0,-4}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,8},{209,201}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0004.png</key>
        <dict>
            <key>frame</key>
            <string>{{627,0},{209,209}}</string>
            <key>offset</key>
            <string>{0,-4}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,9},{209,200}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0005.png</key>
        <dict>
            <key>frame</key>
            <string>{{836,0},{209,209}}</string>
            <key>offset</key>
            <string>{0,-5}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,10},{209,199}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0006.png</key>
        <dict>
            <key>frame</key>
            <string>{{1045,0},{209,209}}</string>
            <key>offset</key>
            <string>{-25,-6}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,12},{159,197}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0007.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,209},{209,209}}</string>
            <key>offset</key>
            <string>{6,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{13,0},{196,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0008.png</key>
        <dict>
            <key>frame</key>
            <string>{{209,209},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0009.png</key>
        <dict>
            <key>frame</key>
            <string>{{418,209},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0010.png</key>
        <dict>
            <key>frame</key>
            <string>{{627,209},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0011.png</key>
        <dict>
            <key>frame</key>
            <string>{{836,209},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0012.png</key>
        <dict>
            <key>frame</key>
            <string>{{1045,209},{209,209}}</string>
            <key>offset</key>
            <string>{-29,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{151,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0013.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,418},{209,209}}</string>
            <key>offset</key>
            <string>{4,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{9,0},{200,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0014.png</key>
        <dict>
            <key>frame</key>
            <string>{{209,418},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0015.png</key>
        <dict>
            <key>frame</key>
            <string>{{418,418},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0016.png</key>
        <dict>
            <key>frame</key>
            <string>{{627,418},{209,209}}</string>
            <key>offset</key>
            <string>{0,23}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,163}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0017.png</key>
        <dict>
            <key>frame</key>
            <string>{{836,418},{209,209}}</string>
            <key>offset</key>
            <string>{0,18}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,173}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0018.png</key>
        <dict>
            <key>frame</key>
            <string>{{1045,418},{209,209}}</string>
            <key>offset</key>
            <string>{-26,19}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{158,171}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0019.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,627},{209,209}}</string>
            <key>offset</key>
            <string>{6,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{13,0},{196,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0020.png</key>
        <dict>
            <key>frame</key>
            <string>{{209,627},{209,209}}</string>
            <key>offset</key>
            <string>{0,30}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,149}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0021.png</key>
        <dict>
            <key>frame</key>
            <string>{{418,627},{209,209}}</string>
            <key>offset</key>
            <string>{-18,32}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{172,146}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0022.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,836},{209,209}}</string>
            <key>offset</key>
            <string>{-11,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{12,0},{163,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper_new0023.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,1045},{209,209}}</string>
            <key>offset</key>
            <string>{-10,22}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{12,0},{166,164}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>shopper new.png</string>
        <key>size</key>
        <string>{1254,1254}</string>
        <key>textureFileName</key>
        <string>shopper new.png</string>
    </dict>
</dict>
</plist>