<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>shopper0001.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,0},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0002.png</key>
        <dict>
            <key>frame</key>
            <string>{{209,0},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0003.png</key>
        <dict>
            <key>frame</key>
            <string>{{418,0},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0004.png</key>
        <dict>
            <key>frame</key>
            <string>{{627,0},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0005.png</key>
        <dict>
            <key>frame</key>
            <string>{{836,0},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0006.png</key>
        <dict>
            <key>frame</key>
            <string>{{1045,0},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0007.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,209},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0008.png</key>
        <dict>
            <key>frame</key>
            <string>{{209,209},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0009.png</key>
        <dict>
            <key>frame</key>
            <string>{{418,209},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0010.png</key>
        <dict>
            <key>frame</key>
            <string>{{627,209},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0011.png</key>
        <dict>
            <key>frame</key>
            <string>{{836,209},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0012.png</key>
        <dict>
            <key>frame</key>
            <string>{{1045,209},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0013.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,418},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0014.png</key>
        <dict>
            <key>frame</key>
            <string>{{209,418},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0015.png</key>
        <dict>
            <key>frame</key>
            <string>{{418,418},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0016.png</key>
        <dict>
            <key>frame</key>
            <string>{{627,418},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0017.png</key>
        <dict>
            <key>frame</key>
            <string>{{836,418},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0018.png</key>
        <dict>
            <key>frame</key>
            <string>{{1045,418},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0019.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,627},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0020.png</key>
        <dict>
            <key>frame</key>
            <string>{{209,627},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0021.png</key>
        <dict>
            <key>frame</key>
            <string>{{418,627},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0022.png</key>
        <dict>
            <key>frame</key>
            <string>{{627,627},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0023.png</key>
        <dict>
            <key>frame</key>
            <string>{{836,627},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0024.png</key>
        <dict>
            <key>frame</key>
            <string>{{1045,627},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0025.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,836},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0026.png</key>
        <dict>
            <key>frame</key>
            <string>{{209,836},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0027.png</key>
        <dict>
            <key>frame</key>
            <string>{{418,836},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0028.png</key>
        <dict>
            <key>frame</key>
            <string>{{627,836},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0029.png</key>
        <dict>
            <key>frame</key>
            <string>{{836,836},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0030.png</key>
        <dict>
            <key>frame</key>
            <string>{{1045,836},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0031.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,1045},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0032.png</key>
        <dict>
            <key>frame</key>
            <string>{{209,1045},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0033.png</key>
        <dict>
            <key>frame</key>
            <string>{{418,1045},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0034.png</key>
        <dict>
            <key>frame</key>
            <string>{{627,1045},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0035.png</key>
        <dict>
            <key>frame</key>
            <string>{{836,1045},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
        <key>shopper0036.png</key>
        <dict>
            <key>frame</key>
            <string>{{1045,1045},{209,209}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{209,209}}</string>
            <key>sourceSize</key>
            <string>{209,209}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>shopper exchange.png</string>
        <key>size</key>
        <string>{1254,1254}</string>
        <key>textureFileName</key>
        <string>shopper exchange.png</string>
    </dict>
</dict>
</plist>